/*
Colors used option 1:
lila: rgba(76,37,231,1);
dark lila: rgba(50,21,163,1)
rot: rgba(238,10,91,1);
gelb: rgba(252,252,195,0.5)
dunkelrot rgba(153,19,43,1)
*/
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.5;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

header {
  background-color: #E8F8F8;
  padding: 30px 0px 0px 0px;
  border-bottom: 1px solid #4a4a4a;
  text-align: center;
  webkit-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.55);
  moz-box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav>ul {
  list-style-type: none;
  padding: 0px;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;
}

.container a {
  margin: 0 auto;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* Brackets go out */
.container.brackets {
  padding: 10px;
}

.brackets a:before, .brackets a:after {
  opacity: 0;
  top: 0px;
  transition: all 0.3s;
}

.brackets a:before {
  content: '(';
  left: 0px;
  transform: translateX(10px);
}

.brackets a:after {
  content: ')';
  right: 0px;
  transform: translateX(-10px);
}

.brackets a:hover:before, .brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

/* Rand von Menuleiste oben */
main {
  padding-top: 130px;
}

#hero {
  /* background-color: rgba(252, 252, 195, 0.8);
  padding: 20px 0; */
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.35em 0;
}

h1 {
  font-size: 1.80em;
  font-weight: 600;
}

h2 {
  font-size: 1.20em;
  font-weight: 600;
  color: rgba(74, 74, 74, 0.5);
}

h3 {
  font-size: 1.40em;
  font-weight: 400;
  color: rgba(238, 10, 91, 1);
}

h4 {
  font-size: 1.80em;
  font-weight: 600;
  color: rgba(74, 74, 74, 0.5);
}

h5 {
  font-size: 1.20em;
  font-weight: 500;
  color: rgba(238, 10, 91, 1);
  text-transform: uppercase
}

span {
  text-transform: uppercase;
  color: rgba(238, 10, 91, 1);
}

/* Extrafarbe optional
#specialtext {
  color: rgba(238, 10, 91, 0.7);
} */

.intro {
  font-weight: bold;
}

img {
  width: 90%;
}

a {
  color: rgb(238, 10, 91);
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: rgba(238, 10, 91, 1);
  /* Underlining when hovering over a link */
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: rgba(238, 10, 91, 1);
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 350;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 2px solid rgba(238, 10, 91, 1);
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button */
  text-decoration: none;
  background-color: rgba(238, 10, 91, 1) !important;
}

.button:active {
  opacity: 0.7;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: rgba(238, 10, 91, 1) !important;
}

.button.contact {
  background-color: transparent;
  color: rgba(238, 10, 91, 1) !important;
  text-transform: uppercase;
  border: 2px solid rgba(238, 10, 91, 1);
}

.button.contact:hover {
  background-color: rgba(238, 10, 91, 0.7);
  color: #ffffff !important;
  border: 2px solid rgba(238, 10, 91, 0.7);
}

.button.active:hover {
  background-color: rgba(238, 10, 91, 0.7);
  color: #ffffff !important;
  border: 2px solid rgba(238, 10, 91, 0.7)
}

/* Layout styling */
.container {
  padding: 0 15px;
  /* 0 top and bottom, 15 px left and right */
}

.my-container {
  padding: 0 15px;
  text-align: left;
}

.row {
  margin: 20px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 20px;
  border-bottom: 1px solid #4a4a4a;
}

#about-page h2 {
  margin-top: 0;
}

/*
#about-page .row {
  padding-top: 5px;
  }*/

/* Unterzeile nur bei secector work */
#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 250px;
}

[class*="col-"] {
  float: left;
}


@keyframes color-changetest {
  10% {fill: #CD6E85;}
  30% {fill: #CD6E85;}
  50% {fill: #CD6E85;}
}

#test {
  animation: 4s color-changetest infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(100, 3px);
  }

  to {
    transform: translate(130px, 3px);
  }
}

#cloud-front {
  animation: 7s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0px, 15px);
  }

  to {
    transform: translate(40px, 15px);
  }
}

#cloud-back {
  animation: 3s cloud-move-reverse infinite alternate linear;
}

/* Divreihe bei Tattoolist */

.my-flex {
  display: flex;
  max-width: 600px;
}

.my-flex > div {
  padding: 3px;
}

@media only screen and (max-width: 640px) {
  .desktop-only {
    display: none;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 15px;
  }

  #hero span {
    display: block;
  }

  #hero {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
